{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="row justify-content-center m-3">
            <div class="col-md-5">
                <form action="{% url 'create_post' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ new_post_form.content }}
                    </div>
                    <button class="btn btn-outline-secondary">Post</button>
                </form>
            </div>
        </div>
    {% endif %}

    <hr>

    <div class="m-2">
        {% for post in page_obj %}
            {% include "network/includes/post.html" with post=post link=True %}
        {% empty %}
            <p>No posts</p>
        {% endfor %}
    </div>

    {% include "network/includes/pagination.html" with page_obj=page_obj %}

{% endblock %}