{% extends 'network/layout.html' %}

{% block body %}
    
    <div class="container m-3">
        <div class="row">
            <div class="col">
                <b>{{ user_profile.username }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Followers <b>{{ user_profile.followers_count }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Following <b>{{ user_profile.following_count }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if not request.user.username == user_profile.username %}
                    <form action="{% url 'toggle_follow' %}" method="post">
                        {% csrf_token %}
                        <input type="text" hidden name="user_id" value="{{ user_profile.id }}">
                        {% if is_following %}
                            <input class="btn btn-outline-secondary" type="submit" value="Unfollow">
                        {% else %}
                            <input class="btn btn-outline-secondary" type="submit" value="Follow">
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <hr>

    <h4 class="text-center">Posts</h4>

    <div>
        {% for post in page_obj %}
            {% include 'network/includes/post.html' with post=post link=False %}
        {% empty %}
            <p>No posts</p>
        {% endfor %}
    </div>

    {% include "network/includes/pagination.html" with page_obj=page_obj %}

{% endblock %}