{% extends 'network/layout.html' %}

{% block body %}
    
    <div class="container m-3">
        <div class="row">
            <div class="col">
                <b>{{ user.username }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Followers <b>{{ user.followers_count }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Following <b>{{ user.following_count }}</b>
            </div>
        </div>
    </div>

    <hr>

    <h4 class="text-center">Posts</h4>

    <div>
        {% for post in posts %}
            {% include 'network/includes/post.html' with post=post link=False %}
        {% empty %}
            <p>No posts</p>
        {% endfor %}
    </div>

{% endblock %}