<div class="card m-3">
    <div class="card-body">

        {% if link %}
            <a href="{% url 'user_profile' post.author.id %}"><h5>{{ post.author }}</h5></a>
        {% else %}
            <h5>{{ post.author }}</h5>
        {% endif %}

        <p  id="post-content-{{ post.id }}">{{ post.content }}</p>

        <small class="text-muted">{{ post.timestamp }}</small>

        <p>&#127833 {{ post.likes_count }}</p>

        {% if request.user == post.author %}
            <button class="btn btn-outline-secondary edit-button" data-post-id="{{ post.id }}">
                Edit
            </button>
        {% endif %}
    </div>
</div>

<script>
    // TODO

    document.addEventListener('DOMContentLoaded', function() {

        document.addEventListener('click', event => {
            const element = event.target;
            element;
        });

        document.querySelectorAll('.edit-button').forEach(button => {

        });
    });

    // https://github.com/vuca1/CS50W-JS_lecture/blob/main/tasks.html
    // for form submit and button enabling

</script>